@import '../variables.css';

.RouteDetails h2 {
  display: inline;
}

.RouteDetails .RouteLabel span {
  cursor: pointer;
}

.RouteLabel.TimePoint {
  font-weight: bold;
}

.RouteLabel.TimePoint.AtStop {
  color: forestgreen;
}
